#
# init.hi6620oem.usb.rc
#

on boot
# set cdrom iso
    setprop sys.ums.path /data/cust/etc/cd.iso
#/* DTS2013103108307 add for set ro.serialno as BSN  l81004140 20131031 begin*/
    write /sys/class/android_usb/android0/iSerial $ro.serialno
#/* DTS2013103108307 add for set ro.serialno as BSN  l81004140 20131031 end  */

# enable usb rndis function
    write /sys/class/android_usb/android0/f_rndis/wceis 1

# Used to disable USB when switching states
on property:sys.usb.config=none
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/bDeviceClass 0
#/* DTS2014021506372 begin for modify the disconnect exception, delete this line p00167427 20140218*/
#/* DTS2014012500904 begin for charge only mode l81004140 20140128*/
#    write /sys/class/android_usb/android0/event_status 0
#/* DTS2014012500904 end  for charge only mode l81004140 20140128*/
#/* DTS2014021506372 begin for modify the disconnect exception, delete this line p00167427 20140218*/
    setprop sys.usb.state ${sys.usb.config}

#/* DTS2013110107711 add for EMUI 2.0  l81004140 20131101 begin*/
# adb only USB configuration
# This should only be used during device bringup
# and as a fallback if the USB manager fails to set a standard configuration
on property:sys.usb.config=adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 360B
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}
    
# USB mass_storage configuration
on property:sys.usb.config=mass_storage
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12D1
    write /sys/class/android_usb/android0/idProduct 361E
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/f_mass_storage/luns sdcard
    write /sys/class/android_usb/f_mass_storage/lun/file none
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}
    
# USB mass_storage configuration, with adb
on property:sys.usb.config=mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12D1
    write /sys/class/android_usb/android0/idProduct 360E
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/f_mass_storage/luns sdcard
    write /sys/class/android_usb/f_mass_storage/lun/file none
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}
    
# USB mass_storage configuration
on property:sys.usb.config=mass_storage_cdrom
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12D1
    write /sys/class/android_usb/android0/idProduct 361E  
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/functions mass_storage
    write /sys/class/android_usb/f_mass_storage/luns cdrom
    write /sys/class/android_usb/f_mass_storage/lun/file ${sys.ums.path}   
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# USB hisuite configuration
on property:sys.usb.config=mass_storage_cdrom,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12D1
    write /sys/class/android_usb/android0/idProduct 360E     
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/functions mass_storage,adb
    write /sys/class/android_usb/f_mass_storage/luns cdrom    
    write /sys/class/android_usb/f_mass_storage/lun/file ${sys.ums.path}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# USB mtp configuration
on property:sys.usb.config=mtp
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12D1
    write /sys/class/android_usb/android0/idProduct 361F
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# USB mtp configuration, with adb
on property:sys.usb.config=mtp,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12D1
    write /sys/class/android_usb/android0/idProduct 360F
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# for EMUI 2.0 hisuite mode
on property:sys.usb.config=hisuite,mtp,mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 360F
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/f_mass_storage/luns cdrom
    write /sys/class/android_usb/f_mass_storage/lun/file ${sys.ums.path}
    write /sys/class/android_usb/android0/functions mtp,adb,mass_storage
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# USB ptp configuration
on property:sys.usb.config=ptp
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12D1
    write /sys/class/android_usb/android0/idProduct 361A
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# USB ptp configuration, with adb
on property:sys.usb.config=ptp,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12D1
    write /sys/class/android_usb/android0/idProduct 360A
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# USB rndis configuration
on property:sys.usb.config=rndis
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12D1
    write /sys/class/android_usb/android0/idProduct 3628
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# USB rndis configuration, with adb
on property:sys.usb.config=rndis,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12D1
    write /sys/class/android_usb/android0/idProduct 3618
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# USB rndis configuration
on property:sys.usb.config=rndis,vcom,modem,om
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12D1
    write /sys/class/android_usb/android0/idProduct 3664
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/f_acm/instances 3
    write /sys/class/android_usb/android0/f_acm/acm_enable 0
    write /sys/class/android_usb/android0/functions rndis,acm
    write /sys/class/android_usb/android0/enable 1
    start ap_modem_bridge
    start OM_USB
    setprop sys.usb.state ${sys.usb.config}

# USB rndis configuration, with adb
on property:sys.usb.config=rndis,vcom,modem,om,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12D1
    write /sys/class/android_usb/android0/idProduct 3654
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/f_acm/instances 3
    write /sys/class/android_usb/android0/f_acm/acm_enable 0
    write /sys/class/android_usb/android0/functions rndis,acm,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    start ap_modem_bridge
    start OM_USB
    setprop sys.usb.state ${sys.usb.config}

# USB accessory configuration
on property:sys.usb.config=accessory
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct 2d00
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# USB accessory configuration, with adb
on property:sys.usb.config=accessory,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct 2d01
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

#/* Begin£ºDTS2013100903629 modified by h00197677 for factory use 20131009 */
#/* Begin£ºDTS2013120309611 modified by h00197677 for vcom can not be used in custom software 20131203 */
on property:sys.usb.config=vcom
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 3660
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/f_acm/instances 1
    write /sys/class/android_usb/android0/f_acm/acm_enable 0
    write /sys/class/android_usb/android0/functions acm
    write /sys/class/android_usb/android0/enable 1
    start atcmdserver
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=vcom,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 3650
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/f_acm/instances 1
    write /sys/class/android_usb/android0/f_acm/acm_enable 0
    write /sys/class/android_usb/android0/functions acm,adb
    write /sys/class/android_usb/android0/enable 1
    start atcmdserver
    start adbd
    setprop sys.usb.state ${sys.usb.config}
#/* End£ºDTS2013120309611 modified by h00197677 for vcom can not be used in custom software 20131203 */
#/* End£ºDTS2013100903629 modified by h00197677 for factory use 20131009 */

on property:sys.usb.config=vcom,modem
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 3661
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/f_acm/instances 2 
    write /sys/class/android_usb/android0/f_acm/acm_enable 0
    write /sys/class/android_usb/android0/functions acm
    write /sys/class/android_usb/android0/enable 1
    start ap_modem_bridge
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=vcom,modem,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 3651
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/f_acm/instances 2 
    write /sys/class/android_usb/android0/f_acm/acm_enable 0
    write /sys/class/android_usb/android0/functions acm,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    start ap_modem_bridge
    setprop sys.usb.state ${sys.usb.config}

# USB vcom,modem,om configuration, with adb
on property:sys.usb.config=vcom,modem,om
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12D1
    write /sys/class/android_usb/android0/idProduct 3662
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/f_acm/instances 3
    write /sys/class/android_usb/android0/f_acm/acm_enable 0
    write /sys/class/android_usb/android0/functions acm
    write /sys/class/android_usb/android0/enable 1
    start ap_modem_bridge
#   start OM_USB
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=vcom,modem,om,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12D1
    write /sys/class/android_usb/android0/idProduct 3652
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/f_acm/instances 3
    write /sys/class/android_usb/android0/f_acm/acm_enable 0
    write /sys/class/android_usb/android0/functions acm,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    start ap_modem_bridge
#    start OM_USB
    setprop sys.usb.state ${sys.usb.config}

# USB vcom,modem,om configuration, with adb
on property:sys.usb.config=vcom,modem,om,lteom
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12D1
    write /sys/class/android_usb/android0/idProduct 3663
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/f_acm/instances 5
    write /sys/class/android_usb/android0/f_acm/acm_enable 0
    write /sys/class/android_usb/android0/functions acm
    write /sys/class/android_usb/android0/enable 1
    start ap_modem_bridge
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=vcom,modem,om,lteom,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12D1
    write /sys/class/android_usb/android0/idProduct 3653
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/f_acm/instances 5
    write /sys/class/android_usb/android0/f_acm/acm_enable 0
    write /sys/class/android_usb/android0/functions acm,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    start ap_modem_bridge
    setprop sys.usb.state ${sys.usb.config}

# Used to set USB configuration at boot and to switch the configuration
# when changing the default configuration
on property:persist.sys.usb.config=*
    setprop sys.usb.config $persist.sys.usb.config

# This property trigger has added to imitiate the previous behavior of "adb root".
# The adb gadget driver used to reset the USB bus when the adbd daemon exited,
# and the host side adb relied on this behavior to force it to reconnect with the
# new adbd instance after init relaunches it. So now we force the USB bus to reset
# here when adbd sets the service.adb.root property to 1.  We also restart adbd here
# rather than waiting for init to notice its death and restarting it so the timing
# of USB resetting and adb restarting more closely matches the previous behavior.
on property:service.adb.root=1
    write /sys/class/android_usb/android0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/enable 1

on property:sys.usb.config=pcmodem2
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 1035
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/f_mass_storage/luns cdrom
    write /sys/class/android_usb/f_mass_storage/lun/file /data/cust/pcmodem/autorun.iso
    write /sys/class/android_usb/android0/functions modem,nmea,mass_storage
    write /sys/class/android_usb/android0/enable 1
    stop atcmdserver
    start hw_modem_service
    start hw_pcui_service
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=pcmodem2,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 1035
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/f_mass_storage/luns cdrom
    write /sys/class/android_usb/f_mass_storage/lun/file /data/cust/pcmodem/autorun.iso
    write /sys/class/android_usb/android0/functions modem,nmea,mass_storage,adb,diag
    write /sys/class/android_usb/android0/enable 1
    start adbd
    stop atcmdserver
    start hw_modem_service
    start hw_pcui_service
    setprop sys.usb.state $sys.usb.config

#/* Begin£ºDTS2013100903629 modified by h00197677 for factory use 20131009 */
#/* Begin£ºDTS2013120309611 modified by h00197677 for vcom can not be used in custom software 20131203 */
on property:sys.usb.config=balong_debug,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 1057
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/portNum  0xff00
    write /sys/class/android_usb/android0/f_rndis/wceis  1
    write /sys/class/android_usb/android0/f_acm/instances 7
    write /sys/class/android_usb/android0/functions rndis,adb,acm
    write /sys/class/android_usb/android0/enable 1
    stop atcmdserver
    start adbd
    setprop sys.usb.state $sys.usb.config
#/* End£ºDTS2013120309611 modified by h00197677 for vcom can not be used in custom software 20131203 */
#/* End£ºDTS2013100903629 modified by h00197677 for factory use 20131009 */
#/* DTS2013110107711 add for EMUI 2.0  l81004140 20131101 end*/

#/*begin	DTS2013121106997 modify c00217097 for recovery usb upgrade ,2013-12-11*/
on property:sys.usb.config=modem,nmea,mass_storage,adb,diag
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 1035
    write /sys/class/android_usb/android0/iSerial $ro.serialno
    write /sys/class/android_usb/f_mass_storage/luns sdcard
    write /sys/class/android_usb/f_mass_storage/lun/file none
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    stop hw_modem_service
    stop hw_pcui_service
    start adbd
    start atcmdserver
    setprop sys.usb.state $sys.usb.config
#/*end	DTS2013121106997 modify c00217097 for recovery usb upgrade ,2013-12-11*/

#/* DTS2014022803306 modify for HP 81004140 20130307 begin */
#add for HP specified
# USB mtp configuration
on property:sys.usb.config=HPmtp
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 03F0
    write /sys/class/android_usb/android0/idProduct 6B1D
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/functions mtp
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# USB mtp configuration, with adb
on property:sys.usb.config=HPmtp,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 03F0
    write /sys/class/android_usb/android0/idProduct 6C1D
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/functions mtp,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# USB rndis configuration
on property:sys.usb.config=HPrndis
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 03F0
    write /sys/class/android_usb/android0/idProduct 6E1D
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/functions rndis
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# USB rndis configuration, with adb
on property:sys.usb.config=HPrndis,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 03F0
    write /sys/class/android_usb/android0/idProduct 6F1D
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/functions rndis,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# USB hisuite configuration
on property:sys.usb.config=HPmass_storage_cdrom
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 03F0
    write /sys/class/android_usb/android0/idProduct 7E1D
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/functions mass_storage
    write /sys/class/android_usb/f_mass_storage/luns cdrom
    write /sys/class/android_usb/f_mass_storage/lun/file mass_storage_cdrom   
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# USB hisuite configuration
on property:sys.usb.config=HPmass_storage_cdrom,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 03F0
    write /sys/class/android_usb/android0/idProduct 7F1D
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/functions mass_storage,adb
    write /sys/class/android_usb/f_mass_storage/luns cdrom    
    write /sys/class/android_usb/f_mass_storage/lun/file mass_storage_cdrom,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# USB mass_storage configuration
on property:sys.usb.config=HPmass_storage
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 03F0
    write /sys/class/android_usb/android0/idProduct 7E1D
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/f_mass_storage/luns sdcard
    write /sys/class/android_usb/f_mass_storage/lun/file none
    write /sys/class/android_usb/android0/functions mass_storage
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# USB mass_storage configuration
on property:sys.usb.config=HPmass_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 03F0
    write /sys/class/android_usb/android0/idProduct 7F1D
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/f_mass_storage/luns sdcard
    write /sys/class/android_usb/f_mass_storage/lun/file none
    write /sys/class/android_usb/android0/functions mass_storage,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}
#/* DTS2014022803306 modify for HP 81004140 20130307 end */
